.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.graph-container {
  margin-top: 60px;
}

.selection-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.selector-title {
  color: gray;
  font-size: 14px;
  margin-bottom: 8px;
}
